{
  "sources": [
    {
      "name": "UserControlled",
      "comment": "use to annotate user input"
    },
    {
      "name": "CustomUserControlled",
      "comment": "use to annotate user input"
    },
    {
      "name": "TestSource1",
      "comment": "just a source"
    },
    {
      "name": "Rounded",
      "comment": "Number was rounded"
    }
  ],

  "sinks": [
    {
      "name": "RemoteCodeExecution",
      "comment": "use to annotate execution of code"
    },
    {
      "name": "AuthorizedChannel",
      "comment": "a channel that requires authorization"
    },
    {
      "name": "Print",
      "comment": "use to annotate printing"
    },
    {
      "name": "TestSink1",
      "comment": "just a sink"
    },
    {
      "name": "FileTampering",
      "comment": "file tampering"
    },
    {
      "name": "SensitiveComputation",
      "comment": "sensitive computation"
    },
    {
      "name": "MemAlloc",
      "comment": "memory allocation"
    },
    {
      "name": "SqlInjection",
      "comment": "SQL injection"
    },
    {
      "name": "Xml",
      "comment": "xml"
    },
    {
      "name": "CodeExecution",
      "comment": "Code execution"
    }
  ],
  "features": [],
  "rules": [
    {
      "name": "Possible shell injection",
      "code": 5001,
      "sources": [ "UserControlled", "CustomUserControlled" ],
      "sinks": [ "RemoteCodeExecution", "Print", "CodeExecution" ],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    },
    {
      "name": "Possible SQL injection",
      "code": 5002,
      "sources": [ "UserControlled", "CustomUserControlled" ],
      "sinks": [ "SqlInjection" ],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    },
    {
      "name": "Possible forged message",
      "code": 5003,
      "sources": [ "UserControlled", "CustomUserControlled" ],
      "sinks": [ "AuthorizedChannel"],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    },
    {
      "name": "Denial-of-services",
      "code": 5004,
      "sources": [ "UserControlled" ],
      "sinks": [ "Xml" ],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    }
  ],
  "options": {
    "maximum_model_source_tree_width": 1
  }
}
